.anxiety-section {
    background-color: transparent;
    padding: 40px 5%;
}

.anxiety-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.anxiety-content {
    flex: 1;
    border: 2px transparent;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    min-width: 300px;
}

.connection-content {
    flex: 1;
    background: transparent;
    padding: 30px;
    min-width: 300px;
}

.connection-content h2 {
    font-size: 32px;
    font-weight: 500;
    color: #222;
    margin-bottom: 15px;
}

.anxiety-content h2 {
    font-size: 25px;
    font-weight: 700;
    color: #222;
}

.people-count {
    font-size: 13px;
    color: #222222CC;
    margin-bottom: 15px;
    font-weight: 300;
}

.anxiety-text {
    font-size: 14px;
    color: #73738DCC;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 300;
}

.connection-text {
    font-size: 17px;
    color: #73738D;
    line-height: 150%;
    margin-bottom: 0;
    font-weight: 300;
    max-width: 100%;
}