footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 5%;
    background-color: transparent;
    text-align: center;
}

footer h1 {
    font-size: 17px;
    font-weight: 700;
    color: #222222;
    margin: 0 0 15px 0;
    line-height: 1.4;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    color: #73738D;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}