footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 5%;
    background-color: transparent;
    text-align: center;
}

footer h1 {
    font-size: 17px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 15px;
}

footer p {
    font-size: 14px;
    font-weight: 500;
    color: #73738D;
    margin-bottom: 10px;
}

@media (max-width: 320px){
    footer {
        padding-top: 0; 
    }
    footer h1 {
        font-size: 15px;
    }
    footer p {
        font-size: 8px;
    }
}

@media (min-width: 2560px) {
    footer {
        padding: 60px 8%;
        max-width: 2400px;
        margin: 0 auto;
    }

    footer h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }

    footer p {
        font-size: 24px;
        margin-bottom: 20px;
    }
}